html {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: white;
    font-size: 12px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.upper_authentication {
    text-align: right;
    text-decoration: none;
}

.upper_authentication a:visited {
    text-decoration: none;
}

.upper_authentication a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.upper_authentication a {
    text-decoration: none;
    color: cornflowerblue;
}


.myinfo_cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.myinfo_cart img {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

.infocart_contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-grow: 0;
}

.search__container {
    padding: 5px;
    margin-right: 40px;
    flex-grow: 1;
}

.banner_title {
    font-size:5em;
    text-overflow: inherit;
    text-align: center;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;
}

.search__input {
    width: 97%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
    padding: 12px 24px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.advertisement1 {
    margin: 5px;
    background-color: cornflowerblue;
    width: 100%;
    min-height: 150px;
    text-align: center;
    display: table;
}

.advertisement1 p {
    display: table-cell;
    vertical-align: middle;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.contents {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.contents img{
    display: block; 
    margin: 0px auto;
    width: 150px;
    height: 150px;
}

.product_image {
    background-color: rgb(245, 245, 245);
    
    overflow: hidden;
}

.product_image img {
    object-fit: cover;
    vertical-align: center;
}

.contens a:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.main_contents {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.category_now {
    margin-top: 5px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(236, 236, 236) inherit;
    padding: 1px;
    width: 100%;
}

.nav_list {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin: 5px;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
}

.nav_list ul{
    list-style: none;
    padding-left: 0;
}

.nav_list li {
    padding: 5px;
    padding-left: 15px;
}

.nav_list li:hover {
    text-decoration: underline;
    color: royalblue;
    background-color: rgb(250, 250, 250);
}

.private_auction {
    text-align: center;
    background-image: url("https://cdn.thespaces.com/wp-content/uploads/2020/06/Loi%CC%88c-Gouzer-Christies-auction-house-Salvador-Mundi-1522x985.jpg");
    background-position: center;
    opacity: 80%;
    background-position-y: 37%;
    background-size: cover;
    cursor: pointer;
    width: 100%;
    min-height: 200px;
    display: table;
}

.private_auction h1 {
    font-size: 3em;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-shadow:2px 2px 4px rgb(85, 85, 85);
}

/* 제품 등록 폼 */
.form_div {
    width: 100%;
    margin: 1em;
    font-size: 1.5rem;
    border: 1px solid black;
}

.form_group {
    margin: 1em;
    border: 1px solid black;
}

.private_auction_rooms {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #ddd;
}

.private_auction_rooms li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.private_auction_rooms dl {
    display: block;
    overflow: hidden;
    padding: 10px;
    font-size: 12px;
    color: #111;
    transition: box-shadow .2s ease;
}

dl, dt, dd, ul, ol, menu, li {
    list-style: none;
}


/* 경매장 입실 */

.room_contents {
    width: 100%;
    margin: auto 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.product_info {
    display: flex;

}

#bid_button {
    background-color: cornflowerblue;
    min-width: 20%;
    padding: auto;
    text-align: center;
}

#bid_button p {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.product_contents {
    background-color: crimson;
    padding: 15px;
    width: 100%;
}

.product_images_private{
    text-align: center;
}

#current_price h3{
    text-align: right;
    margin-right: 15px;
}

.footer {
    width: 100%;
    height: 250px;
}

#chat {
    margin: auto 0;
    margin-top: 15px;
    border: black solid 1px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}